<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Livestream v0.1-beta (DO NOT DEPLOY TO PRODUCTION)</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{url_for('static', filename='scripts.js')}}"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            tempcover: {
              primary: '#264694',
              secondary: '#779E00'
            },
            sf: {
              red: {
                thin: '#b40f20',
                main: '#dd1328'
              },
              yellow: {
                thin: '#d0d006',
                main: '#f7f700'
              }
            }
          },
          fontSize: {
            '10xl': ['50vh']
          }
        }
      }
    }
  </script>
</head>

<body onload="init();">
  <!-- Header -->
  <div class="bg-tempcover-primary py-8 flex justify-center">
    <h1 class="text-3xl font-bold text-white">
      Livestream v0.1-beta (DO NOT DEPLOY TO PRODUCTION)
    </h1>
  </div>

  <!-- Content -->
  <div class="px-20 mt-8">
    <!-- Question selected -->
    <h1
      class="text-center text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-t from-sf-red-thin to-sf-yellow-thin"
      id="Category"></h1>
    <!-- Roulette Wheel for question -->
    <div id="ChartWrapper" class="flex justify-center w-full">
      <div id="chart"></div>
    </div>

    <!-- Countdown and voting wrapper -->
    <div id="MainWrapper" class="items-center hidden mt-4">
      <!-- Countdown? -->
      <div class="text-center flex items-center flex-col">
        <h3 id="VotingText">Vote for your winner </h3>
        <h2 class="font-extrabold text-9xl" id="CountdownTimer"></h2>
        <h2 id="EndingTimer"
          class="text-10xl absolute  font-extrabold text-transparent bg-clip-text bg-gradient-to-t from-sf-red-thin to-sf-yellow-thin">
        </h2>
        <img src="../static/race-image.png" id="RaceImage" class="hidden" width="400" />
      </div>
      <!-- Voting wrapper -->
      <div id="VotingWrapper" class="flex items-center justify-around mt-8 ease-out">
        <!-- Vote left -->
        <div id="YellowCarWrapper">
          <img onclick="voteCar('yellow')" class="hover:cursor-pointer" src="../static/yellow-car.png" />
          <h2 class="text-3xl text-center" id="YellowCarTitle"></h2>
          <p id="yellowCarVotes" class="text-center text-2xl">Votes: 0</p>
          <h2 class="text-3xl text-center" id="YellowCarScore"></h2>
        </div>
        <div>
          <img src='../static/vs.png'>
        </div>
        <!-- Vote right -->
        <div id="RedCarWrapper">
          <img onclick="voteCar('red')"  class="hover:cursor-pointer"  src="../static/red-car.png" />
          <h2 class="text-3xl text-center" id="RedCarTitle"></h2>
          <p id="redCarVotes" class="text-center text-2xl">Votes: 0</p>
          <h2 class="text-3xl text-center" id="RedCarScore"></h2>
        </div>
        <img src="../static/hedgehog.png" id="HedgehogImage"
          class="hidden absolute bottom transition-all duration-200 transparent opacity-0" width="400" />
      </div>
      <div id="WinnerWrapper">
        <h2 id="WinnerText" class="text-8xl text-center"></h2>
      </div>
    </div>
  </div>
  </div>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">

    var gameData = {
      1: {
        redTitle: 'Haven',
        yellowTitle: 'Watford',
        redMaxScore: 304,
        yellowMaxScore: 305,
        key: 1
      },
      2: {
        redTitle: 'Private Car',
        yellowTitle: 'Commercial Vehicle',
        redMaxScore: 1334,
        yellowMaxScore: 550,
        key: 2
      },
      3: {
        redTitle: 'Cazoo',
        yellowTitle: 'Quidco',
        redMaxScore: 209,
        yellowMaxScore: 1,
        key: 3
      }
    }

    var selectedGame = {};

    var padding = { top: 20, right: 40, bottom: 0, left: 0 },
      w = 500 - padding.left - padding.right,
      h = 500 - padding.top - padding.bottom,
      r = Math.min(w, h) / 2,
      rotation = 0,
      oldrotation = 0,
      picked = 100000,
      oldpick = [],
      color = d3.scale.category20();//category20c()
    //randomNumbers = getRandomNumbers();

    //http://osric.com/bingo-card-generator/?title=HTML+and+CSS+BINGO!&words=padding%2Cfont-family%2Ccolor%2Cfont-weight%2Cfont-size%2Cbackground-color%2Cnesting%2Cbottom%2Csans-serif%2Cperiod%2Cpound+sign%2C%EF%B9%A4body%EF%B9%A5%2C%EF%B9%A4ul%EF%B9%A5%2C%EF%B9%A4h1%EF%B9%A5%2Cmargin%2C%3C++%3E%2C{+}%2C%EF%B9%A4p%EF%B9%A5%2C%EF%B9%A4!DOCTYPE+html%EF%B9%A5%2C%EF%B9%A4head%EF%B9%A5%2Ccolon%2C%EF%B9%A4style%EF%B9%A5%2C.html%2CHTML%2CCSS%2CJavaScript%2Cborder&freespace=true&freespaceValue=Web+Design+Master&freespaceRandom=false&width=5&height=5&number=35#results

    var data = [
      { "label": "Underwriter", "value": 1, "question": "Underwriter" }, // padding
      { "label": "Scheme", "value": 2, "question": "Scheme" }, //font-family
      { "label": "Affiliates", "value": 3, "question": "Affiliates" }, //font-family
    ];

    var formulaOneAudio = new Audio('../static/formula-one.mp3');

function reRenderChart(){
    var svg = d3.select('#chart')
      .append("svg")
      .data([data])
      .attr("width", w + padding.left + padding.right)
      .attr("height", h + padding.top + padding.bottom);

    var container = svg.append("g")
      .attr("class", "chartholder")
      .attr("transform", "translate(" + (w / 2 + padding.left) + "," + (h / 2 + padding.top) + ")");

    var vis = container
      .append("g");

    var pie = d3.layout.pie().sort(null).value(function (d) { return 1; });

    // declare an arc generator function
    var arc = d3.svg.arc().outerRadius(r);

    // select paths, use arc generator to draw
    var arcs = vis.selectAll("g.slice")
      .data(pie)
      .enter()
      .append("g")
      .attr("class", "slice");


    arcs.append("path")
      .attr("fill", function (d, i) { return color(i); })
      .attr("d", function (d) { return arc(d); });

    // add the text
    arcs.append("text").attr("transform", function (d) {
      d.innerRadius = 0;
      d.outerRadius = r;
      d.angle = (d.startAngle + d.endAngle) / 2;
      return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")translate(" + (d.outerRadius - 10) + ")";
    })
      .attr("text-anchor", "end")
      .text(function (d, i) {
        return data[i].label;
      });

      
    container.on("click", spin);
    

    function spin(d) {
      // clear question
      d3.select("#Category")
        .text('');
      container.on("click", null);

      //all slices have been seen, all done
      console.log("OldPick: " + oldpick.length, "Data length: " + data.length);
      if (oldpick.length == data.length) {
        console.log("done");
        container.on("click", null);
        return;
      }

      var ps = 360 / data.length,
        pieslice = Math.round(1440 / data.length),
        rng = Math.floor((Math.random() * 1440) + 360);

      rotation = (Math.round(rng / ps) * ps);

      picked = Math.round(data.length - (rotation % 360) / ps);
      picked = picked >= data.length ? (picked % data.length) : picked;


      if (oldpick.indexOf(picked) !== -1) {
        d3.select(this).call(spin);
        return;
      } else {
        oldpick.push(picked);
      }

      rotation += 90 - Math.round(ps / 2);

      vis.transition()
        .duration(3000)
        .attrTween("transform", rotTween)
        .each("end", function () {
          selectedGame = gameData[data[picked].value]
          //populate question
          d3.select("#Category")
            .text(`The category picked is: ${data[picked].question}`);

          document.getElementById('RedCarTitle').innerText = selectedGame.redTitle;
          document.getElementById('YellowCarTitle').innerText = selectedGame.yellowTitle;

          oldrotation = rotation;
          container.on("click", spin);
          handleSpinResult();
        });

      }



    function handleSpinResult() {
      setCountdown();

      var chartWrapper = document.getElementById('ChartWrapper');
      chartWrapper.style.display = 'none';
      var mainWrapper = document.getElementById('MainWrapper');
      mainWrapper.style.display = 'block';
    }

    //make arrow
    svg.append("g")
      .attr("transform", "translate(" + (w + padding.left + padding.right) + "," + ((h / 2) + padding.top) + ")")
      .append("path")
      .attr("d", "M-" + (r * .15) + ",0L0," + (r * .05) + "L0,-" + (r * .05) + "Z")
      .style({ "fill": "black" });

    //draw spin circle
    container.append("circle")
      .attr("cx", 0)
      .attr("cy", 0)
      .attr("r", 60)
      .style({ "fill": "white", "cursor": "pointer" });

    //spin text
    container.append("text")
      .attr("x", 0)
      .attr("y", 15)
      .attr("text-anchor", "middle")
      .text("SPIN")
      .style({ "font-weight": "bold", "font-size": "30px" });



  }
  
  reRenderChart();


  var votes = {
    red: 0,
    yellow: 0
  };

  function voteCar(colour) {
    votes[colour] += 1;
    document.getElementById(`${colour}CarVotes`).innerText = 'Votes: ' + votes[colour];
  }

    function rotTween(to) {
      var i = d3.interpolate(oldrotation % 360, rotation);
      return function (t) {
        return "rotate(" + i(t) + ")";
      };
    }


    function getRandomNumbers() {
      var array = new Uint16Array(1000);
      var scale = d3.scale.linear().range([360, 1440]).domain([0, 100000]);

      if (window.hasOwnProperty("crypto") && typeof window.crypto.getRandomValues === "function") {
        window.crypto.getRandomValues(array);
        console.log("works");
      } else {
        //no support for crypto, get crappy random numbers
        for (var i = 0; i < 1000; i++) {
          array[i] = Math.floor(Math.random() * 100000) + 1;
        }
      }

      return array;
    }


    var redScore = 0;
    var yellowScore = 0;

   

    function generateArray(total) {
      var x = new Array(240).fill(0)

      for (var i = 0; i < total; i++) {
        var index = Math.floor(Math.random() * 241)
        x[index] = x[index] + 1;
      }
      return x;
    }

    function setCountdown() {
      // Set the date we're counting down to
      var timer = 60
      yellowScore = 0;
      redScore = 0;
      document.getElementById('RedCarScore').innerText =  'Sales: ' + redScore;
          document.getElementById('YellowCarScore').innerText = 'Sales: ' + yellowScore;
      document.getElementById('VotingWrapper').style.display = 'flex'
      var minutes;
      var seconds;


      // Update the count down every 1 second
      var x = setInterval(function () {
        --timer;
        minutes = parseInt(timer / 60, 10)
        seconds = parseInt(timer % 60, 10);

        if (minutes >= 1) {
          seconds = seconds < 10 ? "0" + seconds : seconds;
        }
        document.getElementById("CountdownTimer").textContent = minutes + ":" + seconds;

        // At 0 show GO
        if (minutes == 0) {
          document.getElementById("CountdownTimer").textContent = seconds;
        }
        if (timer <= 5 && timer > 0) {
          // SHOW BIG TEXT?
          startLed('yellow')
          document.getElementById("CountdownTimer").style.display = "none";
          document.getElementById("VotingWrapper").style.opacity = 0.3;
          document.getElementById("EndingTimer").textContent = seconds;
        }
        // If the count down is finished, write some text
        if (timer <= 0) {
          clearInterval(x);
          startRace();
        }
      }, 1000);


    }

    function hedgehogLogic() {
      var hedgehogImage = document.getElementById("HedgehogImage");
      hedgehogImage.style.opacity = 1;

      // hedgehogImage.classList.add('transition-opacity ease-in duration-200');

    }

    function startRace() {
      var timer = 60;

      formulaOneAudio.play();
      startLed('green');
      var maxValue = selectedGame.redMaxScore > selectedGame.yellowMaxScore ? selectedGame.redMaxScore : selectedGame.yellowMaxScore;
      // scale 35-100

      document.getElementById("EndingTimer").style.display = "none";
      document.getElementById("RaceImage").style.display = "block";

      hedgehogLogic();
      document.getElementById("VotingWrapper").style.opacity = 1.0;
      document.getElementById("VotingText").style.display = "none";

      var redArray = generateArray(selectedGame.redMaxScore);
      var yellowArray = generateArray(selectedGame.yellowMaxScore);
      var index = 0;
      var timerInterval = setInterval(() => {
        --timer;
        if (timer === 0) {
          clearInterval(timerInterval);
        }
      }, 1000)
      var interval = setInterval(function () {

        minutes = parseInt(timer / 60, 10)
        seconds = parseInt(timer % 60, 10);
        if (timer > 0) {
          redScore += redArray[index];

          yellowScore += yellowArray[index];

          document.getElementById('RedCarScore').innerText = 'Sales: '  + redScore;
          document.getElementById('YellowCarScore').innerText = 'Sales: '  + yellowScore; 

          var scaledRedSpeed = redScore > 0 ? Math.min(Math.floor(redScore / maxValue * 65) + 35, 85) : redScore;
          var scaledYellowSpeed = yellowScore > 0 ? Math.min(Math.floor(yellowScore / maxValue * 65) + 35, 85) : yellowScore;
          startCarsAndSetSpeed(scaledRedSpeed, scaledYellowSpeed);
          index++;
        }
        if (timer <= 0) {
          clearInterval(interval);
        }
      }, 250);

      setTimeout(() => {
        finishRace();

      }, timer * 1000)

    }

    function finishRace() {
      startLed('red');
      formulaOneAudio.pause();
      formulaOneAudio.currentTime = 0;
      stopCars();
   
      // Show winner
      if (redScore > yellowScore) {
        // show red winner
        document.getElementById('WinnerText').innerText = 'The winner is: ' + selectedGame.redTitle
      } else {
        // show yellow winner
        document.getElementById('WinnerText').innerText = 'The winner is: ' + selectedGame.yellowTitle
      }
      document.getElementById('WinnerText').style.display = 'block';
      setTimeout(() => {
        document.getElementById('WinnerText').style.display = 'none';
        document.getElementById("EndingTimer").style.display = "block";
        document.getElementById("EndingTimer").innerText = "";
        document.getElementById("CountdownTimer").style.display = "block";
        document.getElementById("CountdownTimer").innerText = "";
document.getElementById('RaceImage').style.display = 'none';
document.getElementById('VotingWrapper').style.display = 'none'
        data = data.filter(d => d.value != selectedGame.key);
        var chart = document.getElementById('chart')
        var chartWrapper = document.getElementById('ChartWrapper')
        chart.innerHTML = ''
        chartWrapper.style.display = 'flex';
        votes = {
    red: 0,
    yellow: 0
  };

  document.getElementById(`redCarVotes`).innerText = 'Votes: 0';
  document.getElementById(`yellowCarVotes`).innerText = 'Votes: 0 ';
  
  
        reRenderChart();
      }, 5000)
    }

  </script>
</body>

</html>